

/* ********** REGLE GENERALE ********** */

body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
ul,ol {
    list-style: none;
}
section{
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;  
    padding-bottom: 10px;  
} 
 

section .heading h2 {
    text-transform: uppercase;
    margin: 0;
    
}
.red-divider {
    width: 100px;
    height: 2px;
    background: #f9045a;
    margin: 0 auto; 
    margin-bottom: 20px;  
} 

.white-divider {
    width: 100px;
    height: 2px;
    background:  #f9045a;
    margin: 0 auto;
}

/* ************ MENU ********** */
.navbar {
    background-color: #f9045a;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #FFFAE1 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f9045a !important;
    background-color: #FFFAE1 !important; 
}
.navbar-default .navbar-toggle {
    border-style: none;
}
.icon-bar {
    background-color: #FFFAE1 !important;
}

/* ******* ACCEUIL ******* */
.title-head {
    color: #FFFAE1;
}
#accueil {
    padding-top: 100px;
    background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(dev-banner.jpg) center center / cover no-repeat;
    height: 500px;
}


/* ************ A Propos      ****** */
#about {
    padding-top: 20px;
    background: #FFFAE1;
}

.profil {
    text-align: left;
    float: none;
}
#about .heading h3 {
    color:#f9045a;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}
#about .heading h2 {
    color:#f9045a;
    padding-bottom: 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.heading p {
    font-size: 1.4em;
    padding-bottom: 10px;
    line-height: 2;
}


.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #f9045a;
    border: 1px solid #f9045a;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition:  all 0.3s ease-in 0s;
}

.button1:hover {
    background: #f9045a;
    color: #fff;
    text-decoration: none;
}


/* ************ COMPETENCES************** */

#skills {
    background-color:#FFFAE1;
}
#skills .progress {
    height: 100%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .heading h2 {
    color: #f9045a;
}
#skills .progress-bar {
    background: #f9045a;
}
#skills .progress h5 {
    text-shadow: 1px 1px 1px #000;
}


/* ******** Formations ********** */

#formations{
    background: #FFFAE1;
}

#formations .heading h2 {
    color: #f9045a;
}

.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon {
    font-size: 40px;
}
.education-block h3 {
    color: #f9045a;
}
.education-block h4 {
    margin-bottom: 20px;
}
.education-block p {
    font-weight: bold;
}
.education-block .red-divider {
    margin-bottom: 20px;
}

/* **********PROJETS********** */
#projets {
    background: #FFFAE1;
    padding-top: 5px;
    padding-bottom: 10;
}

#projets .heading h2 {
    color: #f9045a;
}
#projets .thumbnail img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#projets .thumbnail img:hover {
    filter: none;
    -webkit-filter: none;
}
.thumbnail h2 {
    text-align: center;
    font-size: 1.9em;
    color: #f9045a;
    padding: 20px 0;
   
}
.thumbnail {
    background: #FFFAC1;
    
}
.thumbnail a {
    display: block;
    color:  #f9045a;
    font-size: 1.3em;
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
}
.thumbnail p {
    text-align: center;
    font-size: 1.4em;
    line-height: 2;
    padding: 20px 0;
}




/* *********Contact****** */

footer {
    background: #f9045a;
    padding: 20px 0 40px;
}

footer .glyphicon {
    font-size: 25px;
    margin: 20px;
    color: #FFF;
    height: 30px;

}
.fleche {
    position: fixed;
    right: 0;
    bottom: 0;
}
footer .glyphicon:hover {
    font-size: 27px;
}

.contacterMoi {
    display: flex;
    justify-content: space-around;
}
.nameFooter, .menuFooter {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.9em;
    color: #FFF;
    font-weight: bold;
    text-align: left;
   
}

#icons a {
    display: block;
    padding: 10px 0;
    text-align: left;
    color: #FFF;
    text-decoration: none;
    font-size: 1.6em;
    
}
.fa {
    margin-right: 10px;
    font-size: 16px;
}
.navbarFooter li a {
    padding: 10px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
    
}
ul.navbarFooter {
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}
.copyright {
    font-size: 1.5em;
    margin: 0 auto;
    width: 100%;
    color: #FFF;
    font-weight: 500;
}
@media screen and (max-width: 567px){
    .contacterMoi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
    }
}